# -------------------------------------------
#  后端项目配置
# -------------------------------------------

.rocks
lua_modules
lua_types
nginx/temp
nginx/logs
site/temp
site/orpm.sh
*.zip

# -------------------------------------------
#  前端项目配置
# -------------------------------------------

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
