/* 浏览器滚动条承载在html上 */
html {
    overflow: hidden;
}

/* 设置页面整体高度 */
html,
body,
#app {
    height: 100%;

    // 色弱模式
    &.color-weak {
        filter: invert(80%);
    }

    // 灰色模式
    &.gray-mode {
        filter: grayscale(100%);
    }
}

/* 设置默认值 */
body {
    width: 100%;
    min-width: 1366px;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    font-size: 14px;
    color: var(--text-color);
}


input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
