/* 浏览器滚动条承载在html上 */
html {
    overflow: hidden;
}

/* 设置页面整体高度 */
html,
body,
#app {
    height: 100%;

    // 色弱模式
    &.color-weak {
        filter: invert(80%);
    }

    // 灰色模式
    &.gray-mode {
        filter: grayscale(100%);
    }
}

/* 设置默认值 */
body {
    width: 100%;
    min-width: 1366px;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    font-size: 14px;
    color: var(--el-text-color-base);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.sd-request-loading {
    .el-loading-spinner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 50%; top: 50%;
        margin-left: -50px;
        margin-top: -50px!important;
        width: 100px;
        height: 100px;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.5);

        .circular,
        .el-loading-text {
            color: #eee;
        }
    }
}


.el-message-box__btns .el-button {
    min-width: 90px;
}
