:root {
    --layout-bg-color: #FAFAFA;
    --layout-aside-width: 254px;

    --bg-color: #fff;
}

html.dark {
    --bg-color:#2d2d2f;
    --bg-color-hover: #393a3c;

    --layout-bg-color: #1F1F1F;
    --layout-aside-bg-color: #262727;
}
// --el-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.36),0px 8px 20px rgba(0, 0, 0, 0.72);
// --el-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.72);
// --el-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.72);
// --el-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.72),0px 12px 32px #000000,0px 8px 16px -8px #000000;
// --el-bg-color-page: #0a0a0a;
// --el-bg-color: #141414;
// --el-bg-color-overlay: #1d1e1f;
