:root {
    --layout-bg-color: #FAFAFA;
    --layout-aside-width: 254px;

    --bg-color: #fff;
}

html.dark {
    --bg-color:#2d2d2f;
    --bg-color-hover: #393a3c;

    --layout-bg-color: #1F1F1F;
    --layout-aside-bg-color: #262727;
}
